@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.admin-sidebar-navigation-container {
    display: flex;
    flex-direction: column;
    width: 234px;
    height: 394px;
    background: #F9F9F9;

    :first-child {
        margin-top: 25px;
    }

    .navigation-button {
        display: flex;
        align-items: center;
        width: 175px;
        margin-left: 23px;
        margin-bottom: 33px;

        .navigation-icon {
            width: 22px;
            height: 22px;
            margin: 0;
        }

        .navigation-title {
            margin: 0;
            padding-left: 25px;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
        }
    }
}