.header-container {
    display: flex;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .header-left-container, .header-right-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-left-container {
        .header-menu-icon {
            width: 31px;
            height: 31px;
            margin: 0px 21px;
        }

        h2 {
            font-size: 32px;
            font-weight: bold;
            margin: 0;
            padding-left: 20px;
            padding-bottom: 10px;
        }
    }

    .header-right-container {
        button {
            width: 175px;
            height: 45px;
            background: #171717;
            color: white;
        }

        .shopping-cart-icon {
            margin: 0 30px;
        }
    }
}